version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: form_sales_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: form_sales_support
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d form_sales_support"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: